<ul class="nav">
  <li class="nav-item">
    <a class="nav-link active" href="#">Active</a>
  </li>

  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{current-discipline-selected}} Test</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Development/Programming</a>
      <a class="dropdown-item" href="#">Games Design</a>
      <a class="dropdown-item" href="#">Level Design</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="#">Others</a>
    </div>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="#">Link</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Disabled</a>
  </li>
</ul>
