<h4>Introduction</h4>

<p>A cooperative board game, designed for 1-4 players, with an engaging strategic element. Developed for a university coursework by a team of 3 designers in the span of 2 weeks.</p>

<p class="narrative-description"><i>
  "The players assume the role of 4 operatives at a secret task force, assembled with the sole purpose of keeping the world from falling into chaos when
  the aliens arrive on Earth. People freak out, panic ensues, and it is up to you and your companions to keep it from consuming the world before you can
  decipher the alien's message."
</i></p>

<h4>Roles</h4>

<p>My roles in the project include Visual Design and Game Design</p>

<h4>Experience and Reflection</h4>

<p> This was one of the first board game projects that I undertook, and it taught me a lot about the limitations but also the strengths of board games, and
  the powerful social experiences that they can create. It also taught me how a limited team's skills and strengths can still come together to produce a
  good product, as long as organization and planning are good.
</p>

<h4>Gameplay</h4>

<p> The gameplay revolves around drawing crisis cards at the beginning of each turn, then spending your movement and actions to resolve as many of the crises
  as possible. There are always 4 actors on the board. These can be controlled by separate people, or even just one person controlling them all. Thus, when playing
  with other people, cooperation becomes essential.
</p>

<p> Each crisis card has a region associated with it, and every region has different stages of panic and different reactions to panic increasing. These are represented
  on the region card. Panic is increased by 1 for each crisis card drawn this turn. These crises are resolved by spending resources from a shared pool. Resources are generated
  by the different regions, however when panic increases and is not resolved, the output of regions frequently falls, so resource management becomes vital in the later stages
  of the game.
</p>

<p> If more than 3 regions on the map are permanently lost (by dropping to their last panic level), the players lose the game. At the end of each round however, players may
  opt to spend 3 of the same resource in order to further the message tracker. This can only be done once per turn. When the message tracker reaches the end, the players win the game.

</p>
