<h4>Introduction</h4>

<p>A unique 2D navigational challenge game, created for the 48 hour 2019 Global Game Jam, themed "What does home mean to me".
  Winner of the 2019 IGDA Scotland Glasgow Play Party, and runner up for the 2019 IGDA Scotland Edinburgh Play Party.
</p>

<p class="narrative-description"><i>
  "This is a game inspired by the feeling of leaving behind the comfort of home in search of the unknown. You are confronted with
  unfamiliar challenges that you can only interpret through the lense of your past experiences, with the only shining beacon of hope
  being the home that you left behind."
</i></p>

<h4>Roles</h4>
<p>This game was created by a team of 2, with my role involving Concept and Game Design, Programming, Art, Level Design and Project Management.</p>

<h4>Experience and Reflection</h4>

<p> The development of Hearthlight has taught me how to manage time successfully, how important a polished product is compared to a
 functional one, how to limit scope when considering time limits without sacrificing quality and how to present a project to outside people.
</p>

<h4>Gameplay</h4>

<p>The gameplay of Hearthlight is very simple. You are placed within a pitch black environment, with a "home node" that shoots a ray of light
  towards the player when "E" is pressed. This ray of light can bounce off of walls in the black environment to reveal the layout and allow the player
  to navigate it. The goal is to clear the level of "light crystals". Some levels have only one crystal, and they progress to the next level when the objective
  is complete. Other levels have more than one light crystal, where each crystal collected gives the home node one additional bounce. This unlocks areas to the player
  that they couldn't previously reach. Finally, players can also transfer the "hearthlight" to inactive nodes around the level by hitting them with the ray of light.
  This allows them to traverse the environment and solve different puzzles throughout the level.
</p>
