<h4>Introduction</h4>

<p>An augmented reality focused game, designed with the intent of making young people between 12 and 16 walk and exercise more. Developed for a
university client as part of a coursework by a team of 12.</p>

<p class="narrative-description"><i>
  "You are now the proud new owner of your very own, highly customizable building sized Kaiju monster! Congratulations! It's too bad that the same
  day your pet hatched was the day the alien robots invaded. Worse still, they're looking to now capture all kaiju creatures on the planet, and yours is
  the only one left! You must now fight for not only your survival, but the survival of your adorable monster as well. Forge your own battle pet and
  fight off the evil aliens who invaded your home!"
</i></p>

<h4>Roles</h4>

<p>In the development process, I was involved as scrum master and helped with the management of the team and tasks, I designed and implemented many
  of the core features, was heavily involved with the prototyping and I was tasked with composing and creating most of the music in the game, due to
  my background in music as a hobby.
</p>

<h4>Experience and Reflection</h4>

<p>This project is still ongoing, but it has already provided valuable insights. It has outlined the importance of early playtesting and iteration to
 me and my colleagues, it has taught me how to communicate and effectively manage a large team, how to show restraint and focus on pressing problems
 before jumping to the aid of others and how to handle a large project's balance and avoid feature creep.
</p>

<h4>Gameplay breakdown</h4>

<p>The focus of Kaiju Call is to give players a customizable creature that they will want to feed and take care of. The core gameplay revolves around
  collecting resources scattered throughout the map, which you achieve by calling your pet to your real world GPS location. Any resources it picks up
  along the way are transferred to your inventory. From there, the player can feed their pet the different resources available, which will unlock different
  skills and traits, but also be detrimental to others in the skill tree. The process of collecting enough resources is quite tiring however, so to make things
  easier, players have a few collection mechanics at their disposal.
</p>

<p>The first mechanic involves the player placing "beacons" on the map. When the third beacon is put down, all resources within the triangle described by these
  three beacons are pulled in to the location of the last one. This makes it easier for the pet to collect all of them. However, this will also spawn an enemy
  robot at the location of the final beacon, making it necessary for the player to fight off an adversary before they can reap the rewards. This system gives
  players the freedom to choose where and when they want to battle, and the size of the triangle scales with the difficulty of the enemy they will fight, making
  difficulty a dynamic player choice.
</p>

<p>The second mechanic involves placing "breaches" on the map screen. These can be thought of as a love child between Pokemon GO's pokestops and
  Hearthstone's arena. Breach consumable items drop from some combat encounters, as well as from "piles" scattered around the game world, which provide resources and other
  goodies. When the pet walks through a breach that was placed by the player, they will enter a combat encounter, modified by the breach's current tier.
  Once the breach enemy is successfully destroyed, a reward is given to the player, and the breach becomes locked for 10 minutes. Each breach consists of
  multiple tiers (the count is defined by its rarity). Every tier has an associated award which is presented to the player when they collect the breach consumable.
  Tier rewards are random, but are scaled to be more and more impressive as they progress, and are further modified by the rarirty of the breach.
</p>

<p>Combat is where players can really show off the abilities of their pet. It's fast paced, with players having to balance a stamina bar, which lowers their damage
  as it is depleted, a dodge mechanic, allowing them to get out of harms way, and tapping at the enemy to deal damage to their body and their appendages. All appendages
  can be taken off, removing weapons from the enemy's arsenal.
</p>

<p>Finally, the customization aspect of the game is implemented with the use of mutations. Mutations fall as loot from combat, as well as drop randomly from
 piles and from breach rewards. These can be body, head, leg and tail mutations. Each mutation will have a different effect attached to it, sometimes even
 giving players new mechanics to play the game with. They will also provide a unique look to the associated body part. This gives the game a finishing touch and
 also provides a social element to pursue for people who want to share their cute pet with the world, while also making it feel like it's truly their own.
</p>
