<h4>Introduction</h4>

<p>A fast paced 2D competitive local sports game, developed and presented as part of a university coursework, which tasked us
with creating a unique new digital sports game.</p>

<p class="narrative-description">
  <i>
    The four players assume control of rocket-powered suits, which have the abbilities to jump extraordinarily high, stick to the arena surfaces
    and come equipped with specially designed gauntlets which allow the carrying and release of the energy ball.
    The rules of the game are simple: score as many points as possible by throwing the energy ball into the opponent's goal before the timer runs out.
    In order to achieve this, players must work together, passing the ball and bouncing it around the arena strategically.
  </i>
</p>

<h4>Roles</h4>

<p> My roles in developing Phaseball were as a Lead Designer, Project Manager, Lead Software Developer, level designer and game tester.
</p>

<h4>Experience and Reflection</h4>

<p> For this coursework, we were placed with random teammates from different disciplines in university, and tasked to work together. We had some
  difficulties as most of the teammates' skills were still to be developed further before we could make a successful product, but by the end of
  early conceptualization and prototyping, we had a good knowledge of peoples' skills and abilities and were able to efficiently distribute
  tasks. Upon reflection, some more efficiency could have possibly been gained if I had focused more on design and left off development for the developers.
</p>

<h4>Gameplay</h4>

<p> Phaseball is developed to be played with 2 controllers. Two players of opposing teams always play with the same controller. Griefing and playing around
  is actually encouraged in the game through this. In order to support this dynamic, all characters are controllable with just one part of the controller.
</p>

<p>In order to jump with their character, a player can tilt their analog stick, which will display the predicted trajectory of their character. The further they
tilt the stick, the faster and farther the character will jump. The actual jump action is initiated by pressing the bumper button. This will send the character
flying in the direction input by the user, following the predicted trajectory. While in mid-air, the player can jump again, provided they have collected
a boost token. When a double jump is performed, the token is used up. Tokens respawn every 10 seconds.
</p>

<p> If the player comes in contact with the ball in mid-air, time will slow down to 10% of normal timescale. This allows players to make strategic choices based on their position.
  However, they are also penalised by the fact that, while holding the ball, they can only shoot it without jumping. Furthermore, if they are too reluctant to make a decision,
  they will land on a surface, causing normal timescale to resume, and allowing other players to easily reach them and steal their ball from their hands (which is achieved by bumping
  into a character who is in the possession of the ball).
</p>

<p> Choosing where to shoot the ball is very easy. The player uses their analog stick to aim in a direction, which causes a prediction of the ball's trajectory
  to appear on the screen, as well as a prediction of its tragectory after the first bounce. This enables players to strategize effectively even in
  high risk situations.
</p>

<p> Scoring the ball into the opposing team's net is the goal of the experience. Whichever team has the most goals by the end of the 5 minute countdown wins
  the game.
</p>
