<h4>Introduction</h4>

<p> This challenging level design project was developed in the span of 3 weeks by a group of 3 designers for a Content Design Coursework at university.
</p>

<p>
  The narrative brief given for the creation of the project:
</p>

<p class="narrative-description">
  <i>
    "Dave Farrelli is an Italian American security guard and amateur military historian who gets caught up in a drug deal gone wrong. The overall game arc
    sees Dave mistakenly identified as having stolen $500k from the mob and follows his journey of escaping their grasp and ultimately wreaking
    revenge on two corrupt police officers (Sergeants Homatash and Walker) who actually stole
    the money and who leaked the rumour about Dave. The game’s tone is somewhere between
    Breaking Bad and The Sopranos, by way of Escape from New York. The game’s desired
    play experience is fast-paced, cover-based combat mixed with stealth sections and
    occasional puzzles aimed at breaking up the combat and giving the player a chance to use a
    different set of skills."
  </i>
</p>

<p> The project specification required of us to create a level that fit the above description while using only assets, provided by Unreal Engine and its example
  projects. With special permission, we managed to get an outside free model of the statue of liberty to solidify the setting and aesthetic of the level, as well
  as a few car models. Everything else was made with BSP brushes and assets from packs like Soul City.
</p>

<h4>Roles</h4>

<p> My role in this project included joint work on all aspects, such as Blueprinting and even some C++ coding, layout and experience design using beat charts, content
  discovery and implementation, testing, whiteboxing, lighting, etc.
</p>

<h4>Experience and Reflection</h4>

<p> The challenge of appropriating assets for a specific theme was a very good learning experience. It forced us to be creative with our layouts and asset use. Upon
  reflection, I can see that more work was needed on the technical aspect of the level, such as more accurate reflection probe placements and baking of BSP brushes.
  At the time, our experience with Unreal Engine was quite limited however, and with more time, this level could have turned out a lot more polished.
</p>
