<h4>Introduction</h4>

<p>
  An innovative top down navigation puzzle game created for the 72 hour April 2017 Ludum Dare Game Jam, themed "Small Worlds".
</p>

<p class="narrative-description"><i>
  "An adventurous scientist subjects themselves to an abitious experiment to unearth the mysteries of the quantum world.
  <br>
  However, shrinking themselves to the subatomic level exposes them to an unexpected challenge, and now they have to navigate
  and escape a dynamic world which shifts and changes with every movement they make."
</i></p>

<p>This project was made by a team of 4 people from different backgrounds and disciplines.</p>

<h4>Roles</h4>

<p>
   My role in the project was as a Game Designer, Programmer and Project Manager.
</p>

<h4>Experience and reflection</h4>

<p> This was the first game jam game I ever made, but the experience was invaluable nonetheless. Scoping was the biggest challenge we faced when making it and conceptualizing the idea,
  so we had to scrap and rework parts several times, taking us a full day to get a concept we all agreed with. More could have been achieved if work distribution was better, but in the end,
  the idea kept us motivated and excited.
</p>

<h4>Gameplay</h4>

<p> The player starts the game at the bottom middle tile on the screen, facing up. They can move using the WASD and turn their gaze with the
  arrow keys. Each direction they look in corresponds to a different map layout (up: purple, down: red, left: green, right: blue). Each layout has a certain road that can be followed. The player
  can only see at a 45 degree angle towards the direction they are facing, so they need to explore their surrounding and remember what the different
  layouts are. The roads of these layouts intersect with one another, so it is up to the player to determine which direction they need to face in order
  to use which road. As they progress through the level, their perspective changes, so they are able to see the layouts from different view points, and
  finally solve the puzzle with the knowledge they have.
</p>
